<span *ngIf="currentFile">

  <table>

    <tr>
      <td class="keyRow">
        Название:
      </td>
      <td class="valueRow">
        {{currentFile.name}}
      </td>
    </tr>
  <tr *ngIf="currentFile.creator">
    <td class="keyRow">
      Создатель:
    </td>
    <td class="valueRow">
      {{currentFile.creator.login}}
    </td>
  </tr>
  <tr>
    <td class="keyRow">
      Факультет:
  </td>
    <td class="valueRow">
      {{currentFile.faculty}}
    </td>
  </tr>
  <tr>
    <td class="keyRow">
      Дисциплина:
    </td>
    <td class="valueRow">
      {{currentFile.discipline}}
    </td>
  </tr>
      <tr>
    <td class="keyRow">
      Полнота:
    </td>
    <td class="valueRow">
      {{currentFile.readability}}
    </td>
  </tr>
      <tr>
    <td class="keyRow">
      Читаемость:
    </td>
    <td class="valueRow">
      {{currentFile.fullness}}
    </td>
  </tr>
  <tr>
    <td class="keyRow">
      Год:
    </td>
    <td class="valueRow">
      {{currentFile.year}}
    </td>
  </tr>
    <tr>
      <td class="keyRow">
        Проверен:
      </td>
      <td class="valueRow">
        <span *ngIf="currentFile.checked == true">Да</span>
        <span *ngIf="currentFile.checked == false">Нет</span>
      </td>
    </tr>
  </table>

  <div class="buttonPanel">
  <button class="importantButton" (click)="download()">Скачать</button>

  <span *ngIf="canDelete()">
  <button class="importantButton" (click)="deleteFile()">Удалить</button>
  </span>

  <span *ngIf="canMark()">
  <button (click)="markAsChecked()">Пометить как проверенный</button>
  </span>

  <button (click)="goBack()">Вернуться назад</button>
    </div>
</span>



