<div *ngIf="!isLogged()">

  <div>
    <label>Login:
      <input [(ngModel)]="authData.login">
    </label>
  </div>

  <div>
    <label>Password:
      <input [(ngModel)]="authData.password" type="password">
    </label>
  </div>

  <button (click)="register()">Sign up</button>
  <button (click)="enter()">Sign in</button>

</div>

<div *ngIf="isLogged()">
  <div *ngIf="userInfo">
    <h2>You are logged as {{userInfo.login}}. Role: {{userInfo.role}}</h2>
  </div>
  <button (click)="logout()">Logout</button>
</div>
