<div *ngIf="currentFolder">

  <div class="outerPanel">
    <div class="header">
      Текущая папка: {{currentFolder.name}}
    </div>
  </div>

  <div class="outerPanel" *ngIf="currentFolder.parentFolder">
    <button class="innerPanel" (click)="gotoFolder(currentFolder.parentFolder)">../</button>
  </div>

  <div class="outerPanel" *ngFor="let folder of currentFolder.subfolders">
    <button class="innerPanel" (click)="gotoFolder(folder)">{{folder.name}}</button>
  </div>

  <div class="outerPanel" *ngFor="let file of currentFolder.files">
    <button class="innerPanel" (click)="gotoFile(file)">{{file.name}}</button>
  </div>

</div>

<div *ngIf="isLogged()">
  <br>
  <div class="outerPanel">
    <button class="uploadButton" (click)="uploadFile()">Загрузить новый файл!</button>
  </div>
</div>

